*{
    margin:0;
    padding:0;
    list-style: none;
}
.home{
    width:100%;
    margin-top: .5rem;
    display: flex;
}
.banner{
    width:6rem;
    overflow: hidden;
    background: blueviolet;
    flex: auto;
}
.banner div img{
    width:100%;
    height:100%;
}